{% extends "base.html" %}
{% load comments %}

{% block meta %}
    <meta name="description" content="Malaysia Crime News on Google Map">
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/malaysiacrime/latest"/>
{% endblock %}

{% block title %}Malaysia Crime{% endblock %}

{% block tababout %}<li><a class="active"><span>About</span></a></li>{% endblock %}

{% block content %}
    <div class="title span-14">
        <h2>About Malaysia Crimes</h2>
        <br />
    </div>

    <div class="span-24 last">
        <p>A little bit over 7 months ago, in March 2009, a friend of mine was robbed in Petaling Jaya. He was attacked and lost a finger. He took a picture of his hand covered in blood and with only four fingers and posted it on Facebook.</p>
        <p>It was a shock to me. Not everyday you see a hand with four finger. And some more, covered in blood.</p>
        <p>And I realized somewhat deeply, that crimes are no longer somethings we read in the newspaper that happened to people we don't know in places we have never been. Crimes are things that more and more happening to people close to us. And one day it will happen to ourselves, or worse, to our families.</p>
        <p>It is a feeling of urgency. Crime is getting out of control. And I wanted people to feel this urgency like I have.</p>
        <p>At that time, the only way I know how was to use a map. Because, I think this makes people realized the amount of crimes that are happening near them. That they would not otherwise have known. And that‚ how Malaysia Crime was created.</p>
        <hr />
        <p>In short, Malaysia Crime is a website that shows crime reports in Malaysia on a map.</p>
        <p>You can pan and zoom the map to explore the crimes in any areas. Clicking on the pin on the map will popup an info window. Clicking on the title (in the info window) will bring you to a page that have full desciption of the crime.</p>
        <hr />
        <p>Personally, I want to see Malaysia Crime becoming a catalyst that bring awareness and a sense of urgency about the crime situation in our country. However, I also want to hear from fellow Malaysian, what you want Malaysia Crime to be. Let me know. I can be reached at kegan@kegan.info.</p>

    </div>

{% endblock %}
