{% extends "base.html" %}

{% block title %}Search - Malaysia Crime{% endblock %}

{% block map_script %}
{% endblock %}

{% block tab4 %}<li><a class="active"><span>Search</span></a></li>{% endblock %}

{% block content %}
    <div class="title span-18 last">
        <h2>Search Malaysia Crime</h2>
    </div>

    <!-- Google Custom Search Element -->
    <div id="cse" class="span-24 last" style="width:100%;">Loading</div>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load('search', '1');
      google.setOnLoadCallback(function(){
        var cse = new google.search.CustomSearchControl();
        cse.enableAds('pub-4395278747027765');
        cse.draw('cse');
      }, true);
    </script>{% endblock %}
